/* Rank 4 elements */
p {
  color: red;
}
/* rank 3 classes */
.pink {
  color: pink;
}

/* rank 2 ID */
#orange {
  color: orange;
}

/* rank 1 Inline styles*/

/* how to avoid specificity */
/* 1. child and descendant selector */
.post > h1 {
  /* style here */
}
.post > a {
  /* style here */
}
/* 2. Adding descriptive classes on parent and child tags */
.post {
  /* style here */
}

.post > .title {
  /* style here */
}
.post > .text {
  /* style here */
}
.post > .link {
  /* style here */
}
/* 3. parent name child name */
.post {
  /* style here */
}
.post-title {
  /* style here */
}
.post-text {
  /* style here */
}
